# Vim files
*.swp
.vimsession
.vimproject
tags

# Git files
*.orig

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Project files
autom4te.cache/
configure
aclocal.m4
m4/
build-aux/
config.log
config.status
config.guess
libtool
stamp-h1
config.h*
*.deps/
*.libs/
Makefile
Makefile.in*
.dirstamp

# Packages
*.tar.gz

# Miscellaneous
*.log

# Binary files
test/application_test
test/system_test
test/util_test
